#login .login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#login .button-group{
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    margin: 1rem 0;
}
