.home__page-footer {
    position: relative;
    width: 100%;
    background: #212121;
    min-height: 100px;
    padding: 4rem 0;
}

.home__page-footer h3 {
    color: white;
    text-transform: uppercase;
    padding: 8px;
}

.home__page-footer p {
    margin-block-start: 0;
    color: white;
    transition: all 0.25s;
}

.home__page-footer a {
    padding: 0 8px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: letter-spacing 0.2s;
}

.home__page-footer a:hover {
    letter-spacing: 0.2rem;
}
