.home__page-products h1 {
    font-size: 3rem;
    line-height: 12px;
    letter-spacing: 0.6rem;
    font-weight: 800;
    text-align: center;
    margin: 0;
    padding: 4rem 0;
}

.home__page-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4rem;
    background: linear-gradient(
        0deg,
        rgba(189, 222, 220, 1) 0%,
        rgba(255, 255, 255, 0) 1%,
        rgba(255, 255, 255, 0) 1%,
        rgba(255, 255, 255, 0) 12%,
        rgba(172, 190, 189, 0.43) 100%
    );
}
