.home__page-products h1 {
    font-size: 3rem;
    line-height: 12px;
    letter-spacing: 0.6rem;
    font-weight: 800;
    text-align: center;
    margin: 0;
    padding: 4rem 0;
    color: white;
}

.home__page-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4rem;
    background-image: url("https://images.unsplash.com/photo-1590907047706-ee9c08cf3189?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fHNwYWNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60");
    background-attachment: fixed;
    background-repeat: none;
    background-position: center;
    background-size: contain;
}
