.products_page {
    background: linear-gradient(
        0deg,
        rgba(33, 33, 33, 1) 0%,
        rgba(33, 33, 33, 0) 0%,
        rgba(33, 33, 33, 1) 90%
    );
}

.products_page .banner {
    background: #212121;
    height: 80px;
    margin-top: -80px;
}
